body {
background-image: url("http://localhost/login/asd.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
}
